/.dockerignore export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.release-please-manifest.json export-ignore
/assets export-ignore
/behat.yml export-ignore
/behat.yml.dist export-ignore
/CLAUDE.md export-ignore
/compose.override.dist.yml export-ignore
/compose.yml export-ignore
/docs export-ignore
/ecs.php export-ignore
/etc export-ignore
/features export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/public export-ignore
/release-please-config.json export-ignore
/tests export-ignore
