includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests

    excludePaths:
        # Test dependencies
        - 'tests/TestApplication/src/**.php'

    ignoreErrors:
        -
            identifier: missingType.iterableValue
